html 
    body
        h2 Summary of expenses between #{startDate} - #{endDate}
        p Essential week expenses: #{weeklySummary.essential}#{moneyUnit}
        p No essential week expenses: #{weeklySummary.noEssential}#{moneyUnit}
        p Total week expenses: #{weeklySummary.total}#{moneyUnit}
        hr
        h2 Top #{topExpenses.length} expenses
        ol 
            each val in topExpenses
                li
                    p #{val.title} - #{val.amount}#{moneyUnit}
        hr
        h2 Left budget for current month (#{currentMonth})
        p Expent until end of week: #{expentUntilEnd}#{moneyUnit}
        p Budget: #{budget}#{moneyUnit}
        p Left Budget: #{leftBudget}#{moneyUnit}
